* {
  box-sizing: border-box;
  font-family: "JejuMyeongjo";
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "JejuMyeongjo";
  src: local("JejuMyeongjo"), url(/fonts/jejumyeongjo/JejuMyeongjo-Regular.ttf);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.main {
  flex: 1 0 auto;
  height: 100%;
  width: 1053px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

p {
  font-size: 30px;
}

span {
  font-size: 30px;
}

.header {
  display: flex;
  height: 107px;
  width: 100%;
  border-bottom: 0.1px solid #5a677d;
  margin: 0 0 1em auto;
  box-shadow: 0 2px 4px #dbcccc;
}

.header-h3-invitation {
  margin: auto;
}

/* секция 1 */
.section-1-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1600px;
  width: 1053px;
}

.main-logo {
  height: 651px;
  width: 804px;
  margin-top: 149px;
}

.article-section-1 {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 136px;
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 845px;
  justify-content: space-between;
}

.article-section-1-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 166.33px;
  width: auto;
  justify-content: space-between;
}

/* таймер*/
.timer {
  height: 79.63px;
  width: 474px;
  display: flex;
  justify-content: center;
}

.timer__items {
  display: flex;
  font-size: 48px;
  width: 100%;
  justify-content: space-between;
}

.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 24px;
}

.timer__item:not(:last-child)::after {
  position: absolute;
  right: -15px;
}

/* секция 2 */
.section-2-guests {
  position: relative;
  display: flex;
  justify-content: center;
  height: 1557px;
  width: 1405px;
}

.branch-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.frame-section-2-thick {
  height: 1440px;
  width: 1000px;
  background-color: #5a677d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame-section-2-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1292px;
  width: 895.84px;
  background-color: #ffffff;
}

.frame-section-2-thin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1160px;
  width: 800px;
  padding: 84.5px 110px;
  border: 1px solid #a39f9f;
  background-color: #fff;
}

.article-section-2-dear-guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 520px;
}

.section-2-p-text {
  font-size: 30px;
  text-align: center;
}

.article-section-2-weare-waiting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 414px;
}

.section-2-h2-weare-waiting {
  text-align: center;
}

.colors {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.circle-1-left {
  background: #ABAAB0;
  border-radius: 50%;
  height: 86px;
  width: 86px;
}

.circle-2-middle {
  background: #242424;
  border-radius: 50%;
  height: 86px;
  width: 86px;
}

.circle-3-right {
  background: #626669;
  border-radius: 50%;
  height: 86px;
  width: 86px;
}

.hr {
  color: #5a677d;
  width: 896px;
  height: 1px;
  margin: 103px 0;
}

.hr-1 {
  color: #5a677d;
  width: 896px;
  height: 1px;
  margin-bottom: 103px;
}

/* секция 3 */
.section-3-question {
  display: flex;
  justify-content: center;
}

/* секция 4 */
.section-4-timetable {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 690px;
  width: 1388px;
}

.corner-leaf {
  position: absolute;
  top: 0;
  right: 0;
}

.section-4-article {
  height: 619px;
  width: 723px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timetable {
  height: 468px;
  width: 723px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabel-row {
  display: flex;
  justify-content: space-between;
  height: 82px;
  width: 100%;
}

.table-cell-right {
  text-align: right;
}

.table-cell-left {
  font-size: 25px;
}

.address {
  color: #817a6b;
  font-style: normal;
  font-size: 25px;
}

/* секция 5 материалы */
.section-5-notification {
  height: 440px;
  width: 723px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.section-5-article-notification {
  display: flex;
  height: 100%;
  width: 100%;
}

.section-5-h2-notification {
  text-align: center;
}

.last-leaf {
  height: 244px;
  width: 375px;
}

/* секция 6 с картой */
.section-6-map {
  width: 100vw;
  height: 600px;
}

.map {
  height: 100%;
}

.footer {
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  flex: 0 0 auto;
  text-align: center;
  padding: 67px 0;
}

.tel {
  color: #000;
  color: #817a6b;
}

.footer-span-tel {
  color: #817a6b;
}

iframe {
  border: 1px solid rgb(255, 255, 255);
}

/* для мобилок */
@media screen and (max-width: 700px) {
  .main {
    width: 345px;
  }

  .header {
    height: 65px;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-size: 14px;
  }

  /* секция 1 */
  .section-1-main {
    height: 856px;
    width: 326px;
  }

  .main-logo {
    height: 353px;
    width: 353px;
    margin-top: 35px;
  }

  .article-section-1 {
    margin-top: 33px;
    margin-bottom: 45px;
    height: 127px;
    width: 353px;
  }

  .article-section-1-timer {
    height: 100px;
    align-items: normal;
  }

  /* таймер*/
  .timer {
    height: 40px;
    width: 244px;
  }

  .timer__items {
    font-size: 25px;
  }

  .timer__item {
    min-width: 55px;
    margin-left: 10px;
    margin-right: 15px;
    padding-bottom: 30px;
  }

  .timer__item::before {
    font-size: 14px;
  }

  .timer__item:not(:last-child)::after {
    right: -5px;
  }

  /* секция 2 */
  .section-2-guests {
    height: 855px;
    width: 465px;
  }

  .branch-img {
    width: 200px;
  }

  .frame-section-2-thick {
    height: 718px;
    width: 366px;
  }

  .frame-section-2-middle {
    height: 640px;
    width: 318px;
  }

  .frame-section-2-thin {
    height: 575px;
    width: 270px;
    padding: 26px 18px;
  }

  .article-section-2-dear-guest {
    height: 260px;
  }

  .section-2-p-text {
    font-size: 14px;
    text-align: center;
  }

  .article-section-2-weare-waiting {
    height: 222.5px;
  }

  .colors {
    width: 144px;
  }

  .circle-1-left {
    height: 40px;
    width: 40px;
  }

  .circle-2-middle {
    height: 40px;
    width: 40px;
  }

  .circle-3-right {
    height: 40px;
    width: 40px;
  }

  .hr {
    width: 320px;
    margin: 50px 0;
  }

  .hr-1 {
    width: 320px;
    height: 1px;
    margin-bottom: 62px;
  }

  .section-3-question {
    width: 345px;
  }

  .form {
    width: 360px;
    height: 880px;
  }

  /* секция 4 */
  .section-4-timetable {
    height: 480px;
    width: 355px;
  }

  .section-4-h2-timetable {
    width: 320px;
  }

  .corner-leaf {
    width: 140px;
  }

  .section-4-article {
    height: 419px;
    width: 320px;
  }

  .section-4-span {
    font-size: 20px;
  }

  .timetable {
    height: 320px;
    width: 320px;
  }

  .tabel-row {
    height: 82px;
    width: 100%;
  }

  .table-cell-right {
    text-align: right;
  }

  .table-cell-left {
    font-size: 20px;
  }

  .address {
    font-size: 14px;
  }

  /* секция 5 материалы */
  .section-5-notification {
    height: 240px;
    width: 320px;
  }

  .section-5-h2-notification {
    width: 310px;
  }

  .last-leaf {
    width: 190px;
  }

  .footer {
    height: 220px;
    font-size: 25px;
    padding: 47px 0;
  }

  .footer-h2-weare-waiting {
    width: 290px;
  }

  .footer-span-tel {
    font-size: 18px;
  }
}